{% extends 'base_ULM.html' %}
{% load static %}

{% block title %}
<title>Unit Level Mapping: Upload</title>
{% endblock %}


{% block content %}

<!-- <p class="intro"> Uploaded file(s) </p> -->

<table class="uploaded_table">
	<tr><td><span style="font-weight: bold; font-size: 20px">Uploaded file(s)</span></td></tr>
	<tr class="table_title"><td>File</td><td>Uploaded time</td></tr>
	{% for file in files %}
		<tr>
			<td>{{ file.file_name }}</td> 
			<td>{{ file.upload_date_time }}</td> 
		</tr>
	{% endfor %}
</table>



<form method="POST" enctype="multipart/form-data" class="ULM_form">
	{% csrf_token %}
	<table>
    	{{form.as_table}}
	</table>
    <button type="submit"> Upload </button>
</form>

<h3> {{ error }} </h3>

{% endblock %}

{% block script %}
<script>
	var file_check = "{{check|escapejs}}"
	if (file_check != "default") {
		alert("File: " + file_check + " has been uploaded successfully");
	}
</script>

{% endblock %}